<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Select User</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">UserId</th>
                    <th scope="col">Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of data; let i = index;">
                        <td>{{user.userName}}</td>
                        <td>{{user.lastName}}, {{user.firstName}}</td>
                        <td>
                            <button type="button" class="btn btn-secondary btn-sm" (click)="passBack(user)">Select</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </form>
    </div>

</div>
